name: Publish Package to npmjs

on:
  push:
    tags:
      - "*"
permissions:
  contents: read
  packages: write
jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.82.0

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Extract versions
        run: |
          echo "GIT_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
          echo "PKG_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV

      - name: Assert package versions
        run: |
          echo "CM_VERSION=$CM_VERSION"
          echo "PKG_VERSION=$PKG_VERSION"

          if [[ "v$PKG_VERSION" != "$GIT_TAG" ]]; then
            echo "Version mismatch! Please correct package versions"
            exit 1
          else
            echo "Version check complete"
          fi

      - name: Install NPM dependencies
        run: pnpm install

      - name: Build & Bundle
        run: pnpm build
        env:
          RUSTFLAGS: --cfg getrandom_backend="wasm_js"

      - name: Publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
